<div class="comment">
  <span><strong><%= comment.author.name %></strong>: <%= comment.text %></span>
  <% puts "\n" * 100, can?(:destroy, comment) %>
  <% if can? :destroy, comment %>
    <%= link_to 'Delete', comment_url(comment), method: :delete, class: 'button' %>
  <% end %>
</div>