<section>
  <%= render @user %>
  <div class="bio">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <div class="posts">
    <%= render @user.posts %>
    <%= link_to 'Create New Post', new_user_post_url(@user), class: 'button' %>
  </div>
</section>