<section>
  <%= render @user %>
  <div class="bio">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <% if !@user.posts.empty? %>
    <%= link_to 'See All My Posts', user_posts_path(@user), class: 'button' %>
  <% end %>
  <div class="posts">
    <%= render @user.first_three %>
  </div>
</section>