<section>
  <%= render @user %>
  <% if @user.id == current_user.id %>
    <%= link_to 'Create New Post', new_user_post_url(@user), class: 'button' %>
  <% end %>
  <div class="posts">
    <%= render partial: @posts, locals: {comments: true} %>
  </div>
  <button>More Posts</button>
</section>